{{#if articles}}
  <div class="container-fluid">
    <div class="row">
      <table class="table-striped col-lg-12">
        <tbody class="table-hover">
          {{#each articles}}
            <tr>
              <td class="headline text-center"><p><a href="{{url}}"><h2 id="{{id}}">{{headline}}</h2></a></p>
              {{#if summary}}
                <p class="summary">{{summary}}</p>
              {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
