{{#if articles}}
  <div class="container-fluid">
    <div class="row">
      <table class="table-striped col-lg-12">
        <tbody id="articles">
        {{#each articles}}
            <tr>
              <td class="headline text-center">
                <div class="headline"><a href="{{url}}"><h2 id="{{id}}">{{headline}}</h2></a>
                  <button type="button" class="btn btn-primary save-button">Save Article</button>
                </div>
                {{#if summary}}
                  <p class="summary">{{summary}}</p>
                {{/if}}
              </td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}