{{#if savedArticles}}
<div class="container-fluid">
    <table class="table-striped">
        <tbody class="table-hover">
        {{#each savedArticles}}
            <tr>
                <td class="text-left"><a href="{{this.url}}"><h2 id="{{this.id}}">{{this.headline}}</h2></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/if}}